header {
  padding: 2.4rem;
  border-bottom: 1px solid #e2e2e2;

  .content {
    max-width: 112rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > img {
      max-height: 4.5rem;
    }

    > div {
      display: flex;
      gap: 1.6rem;
    }

    button {
      height: 4rem;
    }
  }
}
